<strong>Olá, {{ name }} </strong>
<p>Você tem uma nova entrega qeu foi cancelada, confira os detalhes abaixo: </p>
<p>
  <strong>Destinatário: </strong> {{ recipient }} <br />
  <strong>Produto: </strong> {{ product }} <br />
  <br />
  <strong>Descrição: </strong> {{ description }}
</p>